#игнорирование файлов, находящихся в подкаталоге tmp
/tmp/

#игнорирование файлов, заканчивающихся на суффикс _old
*_old

#игнорирование файлов, заканчивающихся на суффикс _backup
*_backup

#игнорирование Thumbs.db
*/Thumbs.db

#игнорирование .DS_Store
.DS_Store
